.letter {
  position: relative;
  top: 0;
  opacity: 0;
  transition: top 0.6s ease, opacity 0.6s ease;
  z-index: 2;
}

.letter.show {
  top: -120px; /* Monte la lettre vers le haut */
  opacity: 1;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: darkred;
}
